<html>
  <head>
    <title>Créer un potin</title>
    <%= stylesheet_link_tag 'gossip', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="gossiphome">
      <div class="headergossip">
      <div class="imgusertext">
      <%= image_tag "anonyme.png", class: "imguser", alt: "Image Anonyme" %>
      <p class="infogossip"><%= @gossip.user.first_name %></p>
      </div>

      <p>#<%= @gossip.id %> </p>
        </div>
      <p class="textgossip"><%= @gossip.content %></p>
    </div>
  </body>
</html>