<%= stylesheet_link_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Nous Contacter</h1>

<p>Pour toute demande, vous pouvez nous joindre à l'adresse suivante : 
    <a href="mailto:contact@gossipproject.com" class="contact-link">contact@gossipproject.com</a>.
</p>

<%= form_with(url: "/static_contact/contact", method: :post, class: "contact-form") do |form| %>
  <!-- Champ pour le nom -->
  <div class="form-group">
    <%= form.label :name, "Nom" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <!-- Champ pour l'email -->
  <div class="form-group">
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, class: "form-input" %>
  </div>

  <!-- Zone de texte pour le message -->
  <div class="form-group">
    <%= form.label :message, "Message" %>
    <%= form.text_area :message, class: "form-textarea" %>
  </div>

  <!-- Bouton d'envoi -->
  <div class="form-group">
    <%= form.submit "Envoyer", class: "btn-submit" %>
  </div>
<% end %>

