<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Gossip Project Final" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "gossip", media: "all", "data-turbo-track": "reload" %>
  </head>

  <header>
  <div class="menu">
  <%= link_to "Home", gossips_path, class: "lien" %>
  <%= link_to "Contact", static_contact_contact_path, class: "lien" %>
  <%= link_to "Team", static_team_team_path, class: "lien" %>
  <%= link_to "Créer un potin", new_gossip_path, class: "lien" %>
</div>
  </header>
  <body data-turbo="false">
    <!-- Affiche une alerte de succès si un message de notice est présent -->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- Affiche une alerte d'erreur si un message d'alerte est présent -->
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>

